<center>
<h1>Rocking, papering and scissoring</h1>

<form action="/player" method="post">
<label for="contestant_1_name">
     Player
    <input type="text" name="player">

  <input type="submit" value="Submit">
 </form>
 </center>
